* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.btn {
  word-wrap: none;
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 1.7rem;
  background-color: hsl(180, 66%, 49%);
  color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.btn:hover {
  opacity: 0.75;
}

body {
  overflow-x: hidden;
}

.header {
  position: relative;
  padding: 2.5rem 10%;
}
.header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav-bar .fa-bars {
  font-size: 1.8rem;
  display: none;
  cursor: pointer;
  color: hsl(257, 7%, 65%);
}
.header .nav-bar .logo {
  margin-right: 3rem;
}
.header .nav-bar .link-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .nav-bar .link-section > div {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.header .nav-bar .link-section > div .link {
  font-weight: 700;
  color: hsl(257, 7%, 65%);
  text-decoration: none;
}
.header .nav-bar .link-section > div .link:hover {
  color: hsl(255, 11%, 22%);
}
.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
}
.header .content-item {
  flex-basis: 100%;
}
.header .content-item .title {
  font-size: 4rem;
  color: hsl(255, 11%, 22%);
  line-height: 4.5rem;
}
.header .content-item .sub-title {
  font-size: 1.1rem;
  color: hsl(257, 7%, 65%);
  margin: 0.5rem 0 2rem;
}
.header .content-item .hero-img {
  width: 120%;
  display: block;
  transform: translateX(20%);
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  -o-transform: translateX(20%);
}
.header .shortener {
  padding: 3rem;
  background-image: url("assets/bg-shorten-desktop.svg");
  background-color: hsl(257, 27%, 26%);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transform: translateY(7.5rem);
  -webkit-transform: translateY(7.5rem);
  -moz-transform: translateY(7.5rem);
  -ms-transform: translateY(7.5rem);
  -o-transform: translateY(7.5rem);
}
.header .shortener .shorten-input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
}
.header .shortener .btn {
  width: 200px;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.header .list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  transform: translateY(10rem);
  -webkit-transform: translateY(10rem);
  -moz-transform: translateY(10rem);
  -ms-transform: translateY(10rem);
  -o-transform: translateY(10rem);
  gap: 1rem;
}
.header .list .list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.header .list .list-item .old-link {
  color: hsl(255, 11%, 22%);
  font-weight: 400;
  font-size: 1.1rem;
}
.header .list .list-item .btn {
  text-align: center;
  width: 110px;
  padding: 0.8rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  cursor: pointer;
}
.header .list .list-item .btn.active {
  background-color: hsl(257, 27%, 26%);
}
.header .list .list-item .new-link {
  text-decoration: none;
  margin-right: 1.5rem;
  color: hsl(180, 66%, 49%);
}

.statistics {
  background-color: hsl(0, 0%, 95%);
  padding: 12.5rem 10% 7.5rem;
  text-align: center;
}
.statistics .sub-heading {
  font-size: 2.5rem;
  color: hsl(255, 11%, 22%);
  margin-bottom: 1rem;
}
.statistics .text {
  line-height: 1.8rem;
  color: hsl(257, 7%, 65%);
}
.statistics .statistics-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  gap: 2rem;
}
.statistics .statistics-row .statistic {
  text-align: left;
  flex-basis: 100%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
}
.statistics .statistics-row .statistic img {
  top: -34px;
  position: absolute;
  background-color: hsl(257, 27%, 26%);
  padding: 1rem;
  width: 68px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.statistics .statistics-row .statistic .name {
  margin: 2rem 0 1rem;
  font-size: 1.3rem;
}
.statistics .statistics-row .statistic:first-of-type {
  margin-bottom: 5rem;
}
.statistics .statistics-row .statistic:nth-child(2)::after, .statistics .statistics-row .statistic:nth-child(2)::before {
  content: "";
  width: 2rem;
  height: 0.5rem;
  background-color: hsl(180, 66%, 49%);
  display: block;
  position: absolute;
  left: -2rem;
  top: 40%;
}
.statistics .statistics-row .statistic:nth-child(2)::after {
  left: 100%;
}
.statistics .statistics-row .statistic:last-of-type {
  margin-top: 5rem;
}

.banner {
  width: 100%;
  padding: 3rem;
  background-image: url("assets/bg-boost-desktop.svg");
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  text-align: center;
}
.banner-text {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: hsl(0, 0%, 100%);
}

.footer {
  background-color: hsl(260, 8%, 14%);
  padding: 3rem 10%;
  display: flex;
  align-items: flex-start;
}
.footer .footer-image {
  flex-basis: 100%;
}
.footer .footer-image .logo {
  filter: brightness(10);
  -webkit-filter: brightness(10);
}
.footer .footer-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: 100%;
}
.footer .footer-item .item-name {
  color: hsl(0, 0%, 100%);
  margin-bottom: 0.5rem;
}
.footer .footer-item .footer-link {
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  color: hsl(257, 7%, 65%);
}
.footer .footer-item .footer-link:hover {
  color: hsl(180, 66%, 49%);
}
.footer .social-icons {
  flex-basis: 100%;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.footer .social-icons img {
  cursor: pointer;
}
.footer .social-icons img:hover {
  filter: brightness(75%) sepia(100) saturate(15) hue-rotate(-200deg);
  -webkit-filter: brightness(75%) sepia(100) saturate(15) hue-rotate(-200deg);
}

@media screen and (max-width: 1200px) {
  .list-item {
    flex-direction: column;
    text-align: center;
    gap: 0.75rem;
  }
  .list-item div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
}
@media screen and (max-width: 968px) {
  .content {
    flex-direction: column-reverse;
    text-align: center;
    gap: 3rem;
  }
  .content .hero-img {
    width: 100% !important;
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
  }
  .content .title {
    font-size: 3rem !important;
  }
  .statistics-row {
    flex-direction: column;
    gap: 5rem !important;
  }
  .statistics-row .statistic {
    width: min(400px, 100%);
    text-align: center !important;
  }
  .statistics-row .statistic:first-of-type {
    margin-bottom: 0 !important;
  }
  .statistics-row .statistic:nth-child(2) {
    isolation: isolate;
  }
  .statistics-row .statistic:nth-child(2)::after, .statistics-row .statistic:nth-child(2)::before {
    left: 50% !important;
    top: -5rem !important;
    width: 0.5rem !important;
    height: 5rem !important;
    z-index: -1;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .statistics-row .statistic:nth-child(2)::before {
    top: 100% !important;
  }
  .statistics-row .statistic:last-of-type {
    margin-top: 0 !important;
  }
  .statistics-row .statistic img {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .footer,
  .footer-item {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
  .link-section {
    position: fixed;
    width: 90% !important;
    flex-direction: column;
    left: 50%;
    top: -75vh;
    z-index: 2;
    background-color: hsl(257, 27%, 26%);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    padding: 2.5rem 5%;
    gap: 1.5rem !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .link-section > div {
    flex-direction: column;
    gap: 1.5rem !important;
    width: 100%;
  }
  .link-section > div:first-of-type {
    border-bottom: 1px solid hsl(257, 7%, 65%);
    padding-bottom: 1.5rem;
  }
  .link-section > div .btn {
    width: min(300px, 80vw);
    text-align: center;
  }
  .link-section > div .link {
    color: hsl(0, 0%, 100%) !important;
  }
  .link-section > div .link:hover {
    opacity: 0.75;
  }
  .link-section.active {
    top: 15%;
  }
  .fa-bars {
    display: block !important;
  }
}
@media screen and (max-width: 678px) {
  .shortener {
    flex-direction: column;
    padding: 2.5rem !important;
  }
  .shortener .btn {
    width: 100% !important;
  }
  .header {
    padding: 1.5rem 5%;
  }
  .statistics {
    padding: 12.5rem 5% 7.5rem;
  }
  .banner {
    padding: 3rem 2rem !important;
  }
}/*# sourceMappingURL=style.css.map */